@media (max-width: 740px){
    #header{
        overflow: hidden;         
        #nav{
            li{
                display: block;
                display: block !important;
                a{
                    padding: 6px 24px;
                }
            }
            .home-btn{
                display: inline-block !important;
            }
            .btn-more{          
                .subnav{
                    position: initial !important;
                    background-color: #333;
                    
                    li a{
                        color: #fff !important;
                        padding-left: 44px !important;
                    &:hover{
                        color: #000 !important;
                    }
                    }
                }    
            }     
        }
        .ti-search{
            display: none;
        }
    }
    .member-item{
        width: 100%;
        margin: 0 auto;
        padding: 0px !important;
    
        img{
            width: 72% !important;
        }
    }
    .place-tours{
        .place{
            width: 100%;
        }
    }
    #footer{    
        padding-bottom: 96px;  
        .contact{ 
            .info-contact{                
                padding-left: 8px;
                margin-bottom: 30px;
            }
            .sub-contact{
                padding-right: 8px;    
            }  
        }
    }
    .js-buy-ticket{
        padding: 12px 0 !important;
        display: block;
    }
    input.name{
        margin-bottom: 8px !important;
    }
    .s-col-full{
        width: 100% !important;
    }
    .s-width-full{
        width: 96% !important;
    }
    .btn-submit{
        margin: 0 8px !important;
        position: initial !important;
        text-align: center;
        line-height: 1.5 !important;
    }
}
@media (min-width: 1024px){
    .ti-menu{
        display: none;
    }
}
@media (min-width: 740px) and (max-width: 1024px){
    .ti-menu{
        display: none;
    }
}   
